<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar
            (clearCompleted)="clearCompleted()"
            (newTask)="addNewTask()"
            (deleteTask)="deleteTask()"
            (refresh)="listTasks()"
            (moveRight)="moveRight()"
            (moveLeft)="moveLeft()"
            (moveUp)="moveUp()"
            (moveDown)="moveDown()"
            (onEdit)="editTask()"
            (changeView)="changeView($event)"
            ></app-navbar>
        <div class="content">
            <div class="container-fluid">
                <app-date-view
                    *ngIf="rootNode && isViewActive('date')"
                    (taskCompleted)="completeTask($event)"
                    (onChange)="saveTask($event)"
                    (blurNode)="removeEmptyTask($event)"
                    [root]="rootNode"></app-date-view>
                <app-task-list 
                    *ngIf="rootNode && isViewActive('default')" 
                    [root]="rootNode"
                    (taskCompleted)="completeTask($event)"
                    (onChange)="saveTask($event)"
                    (blurNode)="removeEmptyTask($event)"></app-task-list>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>