<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar
            (clearCompleted)="clearCompleted()"
            (newTask)="addNewTask()"
            (deleteTask)="deleteTask()"
            (refresh)="listTasks()"
            (moveRight)="moveRight()"
            (moveLeft)="moveLeft()"
            (moveUp)="moveUp()"
            (moveDown)="moveDown()"
            ></app-navbar>
        <div class="content">
            <div class="container-fluid">
                <app-task-list 
                    *ngIf="rootNode" 
                    [root]="rootNode" 
                    (taskSelected)="selectTask($event)"
                    (taskCompleted)="completeTask($event)"
                    (blurNode)="removeEmptyTask($event)"></app-task-list>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>