
<div class="sidebar-wrapper">
    <div class="logo">
        <button class="btn btn-sm btn-success btn-icon" (click)="newList()"><i class="fa fa-plus"></i>New List</button>
    </div>
    <ul class="nav">
        <li>
            <a href="#">
                <strong>Task lists:</strong>
            </a>
        </li>
        <li *ngFor="let list of lists">
            <a href="javascript:;">
                <p class="pull-left" (click)="changeCurrentList(list)">{{list.title}}</p>
                <i class="fa fa-trash pull-right text-danger" (click)="removeList(list)"></i>
                <i class="fa fa-pencil pull-right text-warning" (click)="editList(list)"></i>
            </a>
        </li>
    </ul>
</div>