/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.done-task {
    padding: 10px;
    display: inline-block;
    text-decoration: line-through;
    color: #CCC;
}

.undo-task {
    cursor: pointer;
}